/* Basic settings */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
:root{
    --color-1: #20aacc;
    --color-2: #99bbdd;
    --color-3: #20ddbb;
    --color-4: #aacc20;
    --color-5: #99ddbb;
    --color-6: #bb99dd;
    --color-7: #99bbdd;
    --color-8: #20ccaa;
    --color-9: #70aa44;
    --color-10: #cc5050;
    --back: #dddddd;
    --back-2:#101010;
    --text-1: #101010;
    --text-2:#dddddd;
}
*, *::before, *::after {
    box-sizing: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }


/* Body */
body{
    background-color: var(--back);
    color: var(--text-1);
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.4;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div {
  position: relative;
  z-index: 2;
}
/* main */
main{
    margin: 60px 0 0 0;
    background-color: var(--back);
    color: var(--text-3);
    width: 100%;
    border: var();
}
/* sections */
#wrapper{
    text-align: center;

}
#quote-box {
  border-radius: 15px;
  position: relative;
  width: 500px;
  padding: 30px 40px;
  display: table;
  background-color: var(--back);
}
.quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 2.4rem;
}
.quote-text > i {
  font-size: 1em;
  margin-right: 0.4em;
}
.quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 24px;
  font-size: 1.2em;
  text-align: right;
}
.buttons {
  width: 450px;
  margin: auto;
  display: block;
}
.button {
  height: 36px;
  border: none;
  border-radius: 3px;
  color: var(--text-2);
  background-color: var(--back-2);
  outline: none;
  font-size: 1em;
  padding: 8px 16px 8px 16px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}
#tweet-quote{
  float: left;
  padding: 0px;
  padding-top: 4px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  width: 40px;
}
#new-quote {
  float: right;
}
#new-quote:hover{
  opacity: 0.9;
}
/* footer */
.footer{
    width: 500px;
    height: 10vh;
    text-align: center;
    display: block;
    margin: 15px auto 30px auto;
    font-size: 2.4rem;
    color: var(--text-1);
}