/* Basic settings */
:root {
  --theme-1: #20aacc;
  --theme-2: #2044aa;
  --theme-3: #992550;
  --theme-4: #505060;
  --text-1: #402020;
  --text-2: #707070;
  --text-3: #444444;
  --text-4: #eeeeee;
  --back: #dddddd;
}
*,*::before,*::after {
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Text */
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
#welcome-section h2 {
  color: var(--text-4);
  font-style: italic;
}
p {
  font-size: 2.8rem;
}

/* Body */
body {
  background-color: var(--back);
  margin: 0;
  line-height: 1.4;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}
img {
  display: block;
  width: 100%;
}

/* main */
.main {
  margin: 0;
  background-color: var(--back);
  /* color: var(--text-3); */
  width: 100%;
  border: 0;
}
/* sections */
.app {
  border: 2px solid black;
  margin: 15px 5% auto 5%;
  padding: 20px;
}
input {
  width: 100%;
  height: 30px;
  font-size: 2.4rem;
  border: 1px solid var(--text-1);
}
.add {
  width: 100%;
  /* height: 30px; */
  margin-top: 20px;
  background-color: var(--theme-4);
  color: var(--text-4);
  font-weight: bold;
  font-size: 2.4rem;
  padding: 12px;
  border: 2px solid var(--text-1);
}
.list {
  padding: 20px;
}
.item {
  width: 100%;
  border-bottom: 1px solid var(--text-3);
  margin-bottom: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remove {
  border: 0;
  background-color: #992550;
  color: var(--text-4);
  padding: 5px;
}
/* footer */
footer {
  height: 10vh;
  background-color: var(--theme-4);
}
@media (max-width: 500px) {
}
